<nav class="navbar navbar-expand-md fixed-top" style="background-color: orange;">
  
  <a class="navbar-brand" routerLink="/">
    <img [src]="imagePath" 
     width="50" height="50" class="d-inline-block align-top" alt="Liko">
  </a>
  <a class="navbar-brand">LIKO</a>
  <div class="navbar-nav mr-auto text-center">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
  <ul class="navbar-nav mr-auto" *ngIf="auth.user$ | async as user">
      <span matTooltip="Explore Liko Transport" matTooltipClass="tooltipred">    
        <a  routerLink="/explore" >
          <li> <mat-icon class='explore'>explore</mat-icon></li>
        </a>
      </span>
      <span matTooltip="Liko Itenary" matTooltipClass="tooltipred">  
        <a  routerLink="/itenary" >
          <li> <mat-icon class='zoom_out_map'>zoom_out_map</mat-icon></li>
        </a>
      </span>
      <span matTooltip="My Bookings" matTooltipClass="tooltipred">  
        <a  routerLink="/mybookings">
          <li> <mat-icon class='assignment'>assignment</mat-icon></li>
        </a>
      </span>
      <span matTooltip="Inbox" matTooltipClass="tooltipred">  
        <a  routerLink="/inbox">
          <li> <mat-icon class='mail'>mail</mat-icon></li>
        </a>
      </span>
  </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
              <ng-template #anonymousUser>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-secondary mr-2" 
                    matTooltip="Log In" (click)="signtype='login'; openDialog()">
                    <mat-icon class='person' >person</mat-icon>
                  </button>
                  <button type="button" class="btn btn-outline-secondary mr-2" 
                  matTooltip="SignIn for New User"  (click)="signtype='signup'; openDialog()">
                    <mat-icon class='vpn_key'>vpn_key</mat-icon>
                  </button>
                </li>
              </ng-template>
              <li ngbDropdown *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle"id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.displayName }} 
                </a>
                <div ngbDropdownMenu class="dropdown-menu show" aria-labelledby="dropdown01">
                  <a class="dropdown-item" routerLink="#">My Profile</a>
                  <a class="dropdown-item" routerLink="#">Manage Plan</a>
                  <a class="dropdown-item" (click)="logout()">Log Out</a>
                </div> 
              </li>
            </ul>
          </div>
        </li>
    </ul>

</nav>