.dropdown-toggle{
   cursor: pointer; 
}
mat-icon.explore{
   color: red;
   width: 50px;
   height: 50px;
   line-height: 50px;
   transform: scale(2);
}
mat-icon.zoom_out_map{
   color: yellow;
   width: 50px;
   height: 50px;
   line-height: 50px;
   transform: scale(2);
}
mat-icon.assignment{
   color: greenyellow;
   width: 50px;
   height: 50px;
   line-height: 50px;
   transform: scale(2);
}
mat-icon.mail{
   color: blueviolet;
   width: 50px;
   height: 50px;
   line-height: 50px;
   transform: scale(2);
}
mat-icon.person{
   color: blanchedalmond;
   width: 30px;
   height: 30px;
   line-height: 30px;
   transform: scale(2);
}
mat-icon.vpn_key{
   color: blanchedalmond;
   width: 30px;
   height: 30px;
   line-height: 30px;
   transform: scale(2);
}

mat-icon{
   color:purple;
   size: 100;
}
.tooltipred {
   background: #b71c1c;
 }