
<h2 mat-dialog-title>
    <p class="navbar-brand">
        <img src="assets/images/logo.png" alt="LiKo Application" /> Login In to your Liko Account!
    </p></h2>
<mat-dialog-content>    
    <div id="login-form">
        <form>
            <fieldset>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input type="email" class="form-control"
                        name="email" 
                        placeholder="E-mail" 
                        class="form-control" 
                        [(ngModel)]="email" 
                        required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" class="form-control"
                        name="password" 
                        placeholder="Password" 
                        class="form-control" 
                        [(ngModel)]="password"
                        required>                   
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <form >
    <fieldset>
        <div class="form-group">
            <button [mat-dialog-close] (click)="close()" class="btn btn-main"> Cancel</button>&nbsp;&nbsp;
            <button [mat-dialog-close] (click)="loginwithEmail()" class="btn btn-main">Login</button>
        </div>
        <hr>
        <div class="form-group">
            <button [mat-dialog-close] class="btn btn-primary btn-lg inline btn-social-login"  (click)="loginwithFacebook()">
                <span class="fa fa-facebook-official"></span>  Log In with Facebook</button>
            <br />
        </div>
        <div class="form-group">
            <button [mat-dialog-close] class="btn btn-primary btn-lg inline btn-social-login"  (click)="loginwithGoogle()">
                <span class="glyphicon glyphicon-envelope"></span>  Log In with Google
            </button>
        </div>

    </fieldset>
    </form>
</mat-dialog-actions>

