
.login-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
    background-color: orangered
  }
  
  .login-full-width {
    width: 100%;
  }
  
  .btn-social-login { 
      width: 100%;
  }
  /* enable absolute positioning */
  .inner-addon { 
      position: relative; 
  }
  
  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }