
<h2 mat-dialog-title>
  <p class="navbar-brand">
    <img src="assets/images/logo.png" alt="LiKo Application" /> Tell us about your business credentials. 
  </p></h2>
<mat-dialog-content>    
  <form #f="ngForm" (submit)="register(f)">
      <div class="form-group">
        <label for="operatorName">Operator Name</label>
          <input type="text" class="form-control"
          name="operatorName" 
          placeholder="Operator Name" 
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="operatorName" required>
        <div class="alert alert-danger" *ngIf="operatorName?.touched && !operatorName?.valid">Operator Name is required.</div>
      </div>
      <div class="form-group">
        <label for="telephoneNo">Contact Number</label>
          <input type="text" class="form-control"
          name="telephoneNo" 
          placeholder="Telephone Number" 
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="telephoneNo" required>
          <input type="text" class="form-control"
          name="mobileNo" 
          placeholder="Mobile Number" 
          [(ngModel)]="mobileNo">
        <div class="alert alert-danger" *ngIf="telephoneNo?.touched && !telephoneNo?.valid">Contact Number is required.</div>
      </div>
      <div class="form-group">
          <label for="location">Location</label>
          <select ngModel name="location" id="location" class="form-control">
              <option value="">Bohol</option>
              <option value="">Cebu</option>
              <option *ngFor="let location of locations" 
                [value]="location.id">{{ location.name }}
              </option>
          </select>
        <div class="alert alert-danger" *ngIf="location?.touched && !location?.valid">Location is required.</div>
      </div>
      <div class="form-group">
          <label for="businessPermit">Business Permit</label>
          <input type="text" class="form-control"
          name="businessPermit" 
          placeholder="Business Name" 
          [(ngModel)]="businessPermit"
          required> 
        <div class="alert alert-danger" *ngIf="permitNumber?.touched && !permitNumber?.valid">Business permit is required.</div>
      </div>
      <div class="form-group">
          <label for="businessPermitFile">Upload Business Permit</label>
          <input type="file" [(ngModel)]="businessPermitFile"> 
      </div>
      <div class="form-group">
          <label for="lastName">DTI Certification</label>
          <input type="file" [(ngModel)]="dtiCertificateFile"> 
      </div>
      <div class="form-group">
          <label for="lastName">DTI Accreditation</label>
          <input type="file"  [(ngModel)]="dtiAccreditationFile"> 
      </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="form-group">
      <button [mat-dialog-close] class="btn btn-main"> Cancel</button>&nbsp;&nbsp;
      <button [mat-dialog-close] (click)="registerForOperator()" class="btn btn-main">Register</button>
  </div>
</mat-dialog-actions>

