/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body { 
    padding-top: 80px;
    padding-bottom: 20px;
}

.navbar-brand {
    margin-bottom: 0;
}

.navbar-brand img {
    max-width: 28px; 
    margin-top: -4px;
    margin-right: 5px;
    display: inline-block;
}

.jumbotron {
    position: relative;
    background: #000 url(assets/images/logo.png) center;
    background-size: cover;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.jumbotron.admin {
    background: #aaa;
    padding-top: 10px;
    padding-bottom: 30px;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.banner-opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

.jumbotron.admin .banner-opacity {
    display: none;
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.jumbotron.admin h1 {
    font-size: 32px;
}

.cal,
ol.dates,
ol.times,
.book header,
.book form {
    font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
    margin: 30px auto;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.book form {
    margin: -10px auto 20px auto;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

.book form .services {
    margin: 10px 15px 20px 15px;
}

.book form .addnew-name {
    background-color: #f6f6f6;
    margin-bottom: 15px;
    padding: 10px;
}

.book form .addnew-name .sub-header {
    background-color: #eee;
    margin: -10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.cal {
    display: table;
}

.cal .header,
.dates .header,
.times .header {
    cursor: default;
    background: #c9302c;
    /* background: -moz-linear-gradient(top, #b32b0c, #cd310d);
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d)); */
    height: 36px;
    position: relative;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    text-shadow: 0px -1px 0 #87260c;
    text-transform: uppercase;
}

.cal .header span {
    display: inline-block;
    line-height: 34px;
}

.cal .header .button {
    width: 24px;
    text-align: center;
    position: absolute;
}


/*
.cal .header .button:hover {
    background: -moz-linear-gradient(top, #d94215, #bb330f);
    background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f));
}
*/

.cal .header .right.button {
    right: 0;
    top: 0;
    border-left: 1px solid #ae2a0c;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

.cal .header .left.button {
    left: 0;
    border-right: 1px solid #ae2a0c;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

.cal .header .month-year {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}

.cal table {
    background: #fff;
    border-collapse: collapse;
}

.cal td {
    color: #2d2d2d;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e6e6e6;
    cursor: default;
}

.cal #day td {
    height: 26px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 90%;
    color: #9e9e9e;
}

.cal #days td:not(:last-child) {
    border-right: 1px solid #fff;
}

.cal .cal-frame td.today {
    background: #ededed;
    color: #8c8c8c8;
    box-shadow: 1px 1px 0px #fff inset;
    -moz-box-shadow: 1px 1px 0px #fff inset;
    -webkit-box-shadow: 1px 1px 0px #fff inset;
}

.cal .cal-frame td.past {
    color: #eee;
    cursor: not-allowed;
}

.cal .cal-frame td.available {
    background: #dff0d8;
    color: #333;
    cursor: pointer;
}

.cal .cal-frame td.available:hover,
ol.dates li.available.selected,
ol.dates li.available.selected:hover,
ol.dates li.available:hover,
ol.times li.available.selected,
ol.times li.available.selected:hover,
ol.times li.available:hover {
    color: #333;
    background: #d9edf7;
    box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    cursor: pointer;
}

.cal .cal-frame td span {
    font-size: 80%;
    position: relative;
}

.cal .cal-frame td span:first-child {
    bottom: 5px;
}

.cal .cal-frame td span:last-child {
    top: 5px;
}

.cal .cal-frame table.temp {
    position: absolute;
}

.cal .cal-frame table.curr {
    float: right;
}

.loading {
    padding: 10px;
    text-align: center;
}

ol.dates,
ol.times {
    padding: 0;
    list-style: none;
}

ol.dates li.header,
ol.times li.header {
    text-align: center;
}

ol.dates li,
ol.times li {
    min-height: 35px;
    padding: 10px 15px;
}

ol.dates li:not(:last-child):not(:first-child),
ol.times li:not(:last-child):not(:first-child) {
    border-bottom: dashed 1px #aaa;
}

ol.dates li,
ol.times li {
    background: #f7f7f7;
    color: #ddd;
    cursor: not-allowed;
}

ol.dates li.nil .details,
ol.times li.nil .hour {}

ol.dates li.available,
ol.times li.available {
    background: #E7F9E7;
    color: #000;
    cursor: pointer;
}


/*
ol.dates li.available:hover,
ol.times li.available:hover {
    border: solid 1px #000;
}

ol.dates li.available.selected:hover {
    border: none;
}
*/

ol.dates li.booked,
ol.times li.booked {
    background: #fff;
    color: #eee;
}

ol.steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: steps;
}

ol.steps li>header {
    font-size: 1.2em;
    line-height: 2em;
    color: #ddd;
}

ol.steps li>header:before {
    content: counter(steps);
    counter-increment: steps;
    font-size: 2em;
    margin-right: 10px;
}

ol.steps li.active header {
    color: #333;
}

.book header {
    text-align: center;
}

.book fieldset {
    padding: 5px;
}

.book .loading,
.book .confirmed {
    padding: 20px;
    text-align: center;
}

#login-box {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 4px;
    border: 1px solid #eee;
}

#login-box .navbar-brand {
    float: none;
    height: auto;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

#login-box .navbar-brand img {
    max-width: 60px;
}

#login-box form {
    display: block;
}

.common-form {
    background-color: #f6f6f6;
    padding: 20px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

.table .name {
    width: 180px;
}

.table .address {
    max-width: 400px;
}

.table .services {
    max-width: 300px;
}

.table .check {
    width: 50px;
    text-align: center;
}

.table .header-year {
    font-weight: bold;
    text-align: center;
    background-color: #d9edf7;
}

.table i.fa-globe {
    color: #286090;
}

.table i.fa-ban {
    color: #d9534f;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}