<div class="home-page">
    <main class="mdl-layout__content">
        <h1 class="header-text">
          <ngb-carousel  class="myclass">
            <ng-template ngbSlide>
              <img [src]="images0" alt="Trusted Transport" >
              <div class="carousel-caption">
                <h3>BOOK FROM A TRUSTED TRANSPORT PROVIDER</h3>
                <p>Read ratings and reviews from fellow users.</p>
              </div> 
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images1" alt="Design your Trip" >
              <div class="carousel-caption">
                <h3>DESIGN YOUR TRIP!</h3>
                <p>Pick your ride and choose the one that suits your travel needs.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images2" alt="Book Now" >
              <div class="carousel-caption">
                <h3>FASTEST AND EASIEST WAY TO BOOK YOUR TRANSPORT NEEDS</h3>
                <p>Choose, book and chat.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="images3" alt="Download Apps" >
                <div class="carousel-caption">
                  <h3>Download Apps </h3>
                  <p>Feel the experience.</p>
                </div>
              </ng-template>
          </ngb-carousel>
        </h1>
      </main>
    <div class="container-fluid">
      <h4>Explore Liko</h4>
  
    </div>
  
    <div class="container page">
      <div class="row">
  
        <div class="col-md-9">
          <div class="feed-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link">
                   Your Feed
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                   Global Feed
                </a>
              </li>
            </ul>
          </div>
  
  
        </div>
  
        <div class="col-md-3">
          <div class="sidebar">
            <p>Popular Tags</p>
  
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
  